<!--<input type="text" id="title" />-->
<!--<input type="text" id="content" />-->
<!--<input type="text" id="video" />-->
<!--<button type="button" id="addnew" class="" onclick="addNewArticle();"  data-dismiss="alert" aria-label="Close">-->
<!--Add new-->
<!--</button>-->

  <%= form_for @article_item do |f| %>
    <%= render 'errors/validation_errors', errors: @article_item.errors  %>
      <div class="form-group">
        <%= f.label :title, "Title <span class='required'>*</span>".html_safe  %>
        <div class="controls">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :content, "Content <span class='required'>*</span>".html_safe  %>
        <div class="controls">
          <%= f.text_field :content, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :video, "Video URL <span class='required'>*</span>".html_safe  %>
        <div class="controls">
          <%= f.text_field :video, class: 'form-control' %>
        </div>
      </div>

      <div class="field">


      </div>
    <div class="form-group">
      <%= f.label :file, "File".html_safe  %>
      <div class="controls">
        <%= f.file_field :file, class: 'form-control' %>
      </div>
    </div>
      <div class="actions">
        <%= f.submit class: 'btn btn-success float-right'%>
        <%= link_to  'Back', '/home',class: 'btn btn-default float-left'%>
      </div>
  <% end %>



