<div class="row">
  <div class="form-group row">
    <div class="col-12">
      <label class="posted-on"> <%= comment.created_at %></label>
      <label class="col-8 col-form-label"><%= comment.name %> <%= ("#{format("(%s", comment.email)}" unless comment.email.to_s=='')%></label>
    </div>
    <div class="col-12">
      <%= comment.body %>
    </div>
    <% if logged_in? && article.user == current_user %>
      <div class="col-5">
        <%= link_to 'Remove', [comment.article, comment],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>