<%= form_for([@article, @article.comments.build]) do |f| %>
    <% if !@comment.nil? %>
        <%= render 'errors/validation_errors', errors: @comment.errors %>
    <% end %>
    <div class="row">
      <div class="col-md-3">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
      <div class="col-md-1 actions">
        <%= f.submit 'Add', class: 'btn btn-success float-right' %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1">
        <%= f.label :body, ' ', class: 'required' %>
      </div>
      <div class="col-md-5">
        <%= f.text_area :body, class: 'form-control custom-text-area' %>
      </div>
    </div>
<% end %>
