<div class="col-sm-8 blog-main ">
  <% @articles.each do |article| %>
      <div id = "article<%= article.id %>" class="widget">
        <% if logged_in? && article.user == current_user %>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-danger article-delete-button" onclick="deleteArticle('<%==article.id%>')">Delete</button>
              </div>
            </div>
        <% end %>
        <% unless article.image_name.blank? %>
          <div class="row">
            <div class="col-sm-12">
              <%= image_tag("#{Blog::Application.config.x.file.path_to_read}#{article.image_name}", :alt => article.image_name, :width => "100%") %>
            </div>
          </div>
        <% end %>
        <div class="sub-widget">
          <div class="row ">
            <div class="col-sm-12">
              <h2 class="entry-title">
                <%= article.title %>
              </h2>
              <div class="posted-on">
                By
                <% unless article.user.blank? %>
                    <%= [article.user.first_name, article.user.last_name].join(', ') %>
                <% else %>
                    Anonymous
                <% end %>
                on <%= article.created_at %>
              </div>
            </div>
          </div>
          <div class="row marde-top-10">
            <div class="col-sm-12">
              <span class="blog-content"><%= article.content %></span>
            </div>
          </div>
        </div>

      </div>

  <% end %>
</div><!-- /.blog-main -->
