<div class="container">

  <div class="row">
    <div class="col-sm-6 offset-sm-2 widget">
      <div class="headline">
        <h3>Invite new members</h3>
      </div>
      <!--%= render 'form', user: @user %-->

      <%= form_for @user, url: '/users/send' do |f| %>
          <!--<div class="form-group">-->
            <!--<label for="title">Name*</label>-->

            <!--<div class="controls">-->
              <!--<input type="text" name="user[first_name]" value="" placeholder="Name" class="form-control"/>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label for="title">Email*</label>-->

            <!--<div class="controls">-->
              <!--<input type="text" name="user[username]" value="" placeholder="Email" class="form-control"/>-->
            <!--</div>-->
          <!--</div>-->
          <%= render 'errors/validation_errors', errors: @user.errors,fields_list:['first_name','username']  %>

          <div class="form-group">
            <%= f.label :first_name, "Name <span class='required'>*</span>".html_safe  %>

            <div class="controls">
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :username, "Email <span class='required'>*</span>".html_safe  %>

            <div class="controls">
              <%= f.text_field :username, class: 'form-control' %>
            </div>
          </div>
          <%= f.hidden_field :last_name, value: 'send email' %>
          <%= f.hidden_field :password, value: 'password' %>
          <%= f.hidden_field :password_confirmation, value: 'password' %>

          <input type="submit" value="Invite" class="btn btn-success float-right"/>
      <% end %>
    </div>

  </div><!-- /.row -->

</div><!-- /.container -->
