<div class="row ">
  <div class="col-sm-12 widget">
    <div class="headline">
      <h3> <%= @article.title %></h3>
    </div>
    <!-- Blog -->
    <% if logged_in? && @article.user == current_user %>
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-danger article-delete-button" onclick="deleteArticle('<%==@article.id%>')">Delete</button>
          </div>
        </div>
    <% end %>
    <% unless @article.image_name.blank? %>
        <div class="row">
          <div class="col-sm-12">
            <%= image_tag("#{Blog::Application.config.x.file.path_to_read}#{@article.image_name}", :alt => @article.image_name, :width => '100%') %>
          </div>
        </div>
    <% end %>
    <div class="sub-widget">
      <div class="row ">
        <div class="col-sm-12">
          <div class="posted-on">
            By
            <% unless @article.user.blank? %>
                <%= [@article.user.first_name, @article.user.last_name].join(', ') %>
            <% else %>
                Anonymous
            <% end %>
            on <%= @article.created_at %>
          </div>
        </div>
      </div>
      <div class="row marde-top-10">
        <div class="col-sm-12">
          <span class="blog-content"><%= @article.content %></span>
        </div>
      </div>
    </div>
    <%= link_to 'Back', home_path %>
    <br><br>
    <!-- Comments list -->
    <div class="headline">
      <h4>Comments</h4>
    </div>
    <%= render @article.comments %>
    <!-- -->
    <%= render 'comments/form' %>
  </div>
</div>


